* {
    padding: 0;
    margin: 0;
	font-size: 15px;
    border-radius: 15px;
	font-family: JetBrains Mono Medium;
}

window#waybar {
	background: #000109;
	color: #f38ba8;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #b5bfe2;
    padding: 0px 10px;
    border-radius: 15px;
    color: #111111;
}

#workspaces button {
	padding: 0 2px;
	color: #111111;
}
#workspaces button.focused {
	color: #ff00ff;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
    margin: 0 1px;
	padding: 0 8px;
}
